@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('satoshi.css'); */

:root {
  --foreground-rgb: 255, 255, 255;
  background: #6CA4B2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    background: #6CA4B2;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #6CA4B2;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom scrollbar styles for Webkit browsers */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #6CA4B2;
}

::-webkit-scrollbar-thumb {
  background: #E0E0E0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Custom scrollbar styles for Firefox */
html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}