@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('satoshi.css'); */

:root {
  --foreground-rgb: 0, 0, 0;
  background: #6CA4B2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    background: #6CA4B2;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #6CA4B2;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
